@model List<Web_Aplication.Models.Usuario>

<h2>Top 10 Usuarios</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sueldo</th>
            <th>Fecha de Ingreso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Sueldo</td>
                <td>@usuario.FechaIngreso.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
